= simple_form_for [:admin, @student], html: { class: 'form-horizontal' } do |f|
  %legend= legend
  = f.association :university, collection: University.order(:name)
  = f.input :last_name
  = f.input :first_name
  = f.input :middle_name
  = f.input :email
  = f.input :password
  .form-actions
    = f.submit class: "btn btn-primary"
    = link_to t(:cancel), [:admin, :students], class: "btn"
