!!!
%html
  %head
    %title Админка
    %meta{name: :viewport, content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap", rel: "stylesheet"}/
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
  %body
    %nav.navbar.navbar-dark.navbar-expand-md.bg-dark
      = link_to "Админка", admin_root_path, class: 'navbar-brand'
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.navbar-item
            = active_link_to "Студенты", admin_students_path, class: 'nav-link'
          %li.navbar-item
            = active_link_to "Университеты", admin_universities_path, class: 'nav-link'
          %li.navbar-item
            = active_link_to "Компании", admin_companies_path, class: 'nav-link'
          %li.navbar-item
            = active_link_to "Стажировки", admin_interships_path, class: 'nav-link'
    %br
    .container-fluid.page-wrapper
      = yield
