= simple_form_for [:admin, @intership], html: { class: 'form-horizontal' } do |f|
  %legend= legend
  = f.association :company, collection: Company.order(:name)
  = f.association :company_specialty, collection: Company::Specialty.order(:name)
  = f.input :name
  = f.input :description
  = f.input :start_at
  = f.input :duration
  = f.input :busyness
  = f.input :payment, collection: ['Оплачиваемая', 'Неоплачиваемая']
  = f.input :work_format, collection: ['В офисе', 'Можно удаленно']
  = f.input :student_amount, input_html: {type: 'number'}
  .form-actions
    = f.submit class: "btn btn-primary"
    = link_to t(:cancel), [:admin, :interships], class: "btn"
