!!!
%html
  %head
    %title Стажировочка - сервис организации стажировок для студентов
    %meta{name: :viewport, content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap", rel: "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
